
{% extends 'main/base.html' %}

{% block content %}
<div class="subscription-report">
    <h2>Subscription Report</h2>
    <table class="report-table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Menu</th>
                <th>Time Slot</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Payment Mode</th>
                <th>Selected Days</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscriptions %}
            <tr>
                <td>{{ sub.customer.user.username }}</td>
                <td>{{ sub.menu.name }}</td>
                <td>{{ sub.time_slot }}</td>
                <td>{{ sub.start_date }}</td>
                <td>{{ sub.end_date }}</td>
                <td>{{ sub.get_payment_mode_display }}</td>
                <td>{{ sub.selected_days|join:", " }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
